# Ignore node_modules and npm debug log
node_modules
npm-debug.log

# Ignore environment files
.env

# Ignore build artifacts
dist
build

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor files
.vscode
.idea
*.swp